<app-navbar></app-navbar>
<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg" gameLabel="EXCLUSIVE" gamePrice="35.600" gameType="DISCO | PS4"></app-card>
    <app-card gameCover="assets/bt-4.jpg" gameLabel="DIGITAL" gamePrice="79.450" gameType="DIGITAL | PS4"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="DISCO" gamePrice="79.450" gameType="DISCO | PS4"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="DIGITAL" gamePrice="79.450" gameType="DIGITAL | PS4"></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="DIGITAL" gamePrice="56.230"
        gameType="DIGITAL | PS4"></app-card>
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="BEST OF THE YEAR" gamePrice="79.450" gameType="DISCO | PS4"></app-card>
</div>